<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<body>
    <div>
    <h1>All users</h1>
    <table>
        <thead>
            <th> FIrst Name</th>
            <th> Last Name</th>
            <th> Email</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td> {{user.first_name}}</td>
                <td> {{user.last_name}}</td>
                <td> {{user.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p> <a href="/create_user">Create new user</a>  </p>
    </div>
</body>
</html>