*{
    padding: 0px;
    margin: 0px;
}

.box{
    width: 90px;
    height: 90px;
    border: 1px solid burlywood;
    border-radius: 5px;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

h1{
    text-align: center;
    padding: 1em;
}